<template>
<div>
<h2>Login</h2>
<form>
<md-field>
      <label>Email or Username</label>
      <md-input v-model="user" required></md-input>
      <span class="md-error" v-if="!$v.user.required">Please enter your username or email</span>
</md-field>
<md-field>
      <label>Password</label>
      <md-input v-model="pass" required type="password"></md-input>
      <span class="md-error" v-if="!$v.pass.required">Please enter your password</span>
      <span class="md-error" v-if="!($v.pass.minLength || $v.pass.maxLength)">Password's length must between 8~16</span>
    </md-field>
<div class="right fullw"><md-button @click="onLogin" class="md-raised md-primary">Login</md-button></div>
</form>

<md-dialog :md-active.sync="showErrorDialog">
      <md-dialog-title>Details</md-dialog-title>

      <md-dialog-content>{{ errInfo }}</md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showErrorDialog = false">OK</md-button>
      </md-dialog-actions>
    </md-dialog>

 <md-snackbar md-position="left" :md-duration="duration" :md-active.sync="showSnackbar" md-persistent>
      <span>{{sbmsg}}</span>
      <md-button class="md-primary" @click="showErrorDialog = true">Details</md-button>
    </md-snackbar>

</div>
</template>

<script>
  import {
    required,
    email,
    alpha,
    minLength,
    maxLength,
  } from 'vuelidate/lib/validators'
export default {
  name: "Login",
  data: function() {
    return {
      user: null,
      pass: null,
      showErrorDialog: false,
      errInfo: "",
      showSnackbar: false,
      sbmsg: '',
      duration: 10000,
    };
  },
  methods: {
    onLogin() {
      this.$store.dispatch("login", {
        user: this.user,
        password: this.pass,
        onDone: (token) => this.$router.push({
            name: 'Permit',
            query: {
              symbol: this.$route.query.symbol,
              back: this.$route.query.back
            },
          }),
        onErr: (isRemoteErr, obj) => {
          if (isRemoteErr) {
            console.log("Remote err happened");
          } else {
            console.log("Local err happened");
          }
          this.errInfo = obj;
          this.sbmsg = "Oops.. Something wrong just happened";
          this.showSnackbar = true;
        }
      });
    }
  },
  validations:{
      user:{
          required,
      },
      pass:{
          required,
          maxLength: maxLength(16),
          minLength: minLength(8),
      },
  },
};
</script>

<style>
.right {
  text-align: right;
}

.fullw {
  width: 100%;
}

.back-white {
  background: #ffffff;
}
</style>

