<template>
<div>
<h2>Just a moment...</h2>
<p>We are redirecting you to {{appName}} ...</p>
</div>
</template>

<script>
import URI from "urijs/src/URI";
export default {
  name: "Ok",
  data() {
    return {
      appName: this.$route.query.name
    };
  },
  created(){
      this.jumpOut();
  },
  methods: {
    jumpOut() {
    // Example: /ok?name=Test&back=test&method=url&token=testtoken&url=https%3A%2F%2Fexample.com%2Fauth%2Ffish%2Fdone
      setTimeout(() => {
        let args = this.$route.query;
        let { name, back, method, url, token } = {
          name: args.name,
          back: args.back,
          method: args.method,
          url: args.url,
          token: args.token
        };
        console.log({ name, back, method, url, token });
        if (method == "url") {
          let pUrl = new URI(url)
            .query({
              back: back,
              token: token
            })
            .toString();
          window.location.href = pUrl;
        }
      }, 1000);
    }
  }
};
</script>

<style>

</style>


