<template>
<div>
<div class="center2" v-show="isNotReady">
    <md-progress-bar md-mode="query"></md-progress-bar>
    <br /><p>Just a moment...</p>
  </div>
<div v-if="!isNotReady">
    <md-avatar>
      <img :src="avatar" alt="Avatar">
    </md-avatar>
    <h2>{{username}},</h2>
    <p>if you click 'allow',</p>
    <p>'{{ app['name'] }}' will be allow to:</p>
    <md-list>
        <md-list-item v-for="per in app['pers']" v-bind:key="per">
             <span class="md-list-item-text">{{ per }}</span>
        </md-list-item>
    </md-list>
    <div class="right fullw" style="margin-top: 16px;">
        <md-button @click="onAllowClick" v-if="!hideAllowButton" class="md-raised md-primary">Allow</md-button>
        <md-button class="md-primary md-raised" disabled v-if="hideAllowButton">Please wait...</md-button>
        <p class="italic-font">Close window to leave here directly</p>
    </div>
</div>
</div>
</template>

<script>
import fishid from '@/fishid/sdk.js'
export default {
    name: "Permit",
    data (){
        return {
            avatar: null,
            username: '',
            isNotReady: true,
            app: {
                'name': '',
                'pers': [],
            },
            hideAllowButton: false,
        }
    },
    created(){
        this.getAuthInfo();
        this.updateUserInfo();
    },
    methods: {
        getAuthInfo(){
            let symbol = this.$route.query.symbol;
            let token = null;
            if (this.$store.state.token){
                token = this.$store.state.token;
            }
            let request = {
                symbol: symbol,
                token: token,
            };
            fishid.getAuthInfo(request)
                .then((response) => {
                    let json = response.data;
                    let a = json['app'];
                    if (json['isAccepted']){
                        this.$router.push({
                            name: 'Ok',
                            query: {
                                name: a['name'],
                                back: $route.query.back,
                                method: a['callback']['method'],
                                url: a['callback']['url'],
                                token: json['token']
                            }
                        });
                    } else {
                        this.isNotReady = false;
                        this.app['name'] = a['name'];
                        this.app['pers'] = a['permissions'];
                    }
                });
        },
        onAllowClick(){
            this.hideAllowButton = true;
            fishid.doAuth({
                'token': this.$store.state.token,
                'symbol': this.$route.query.symbol,
                'message': "Create by fishid frontend for "+this.$route.query.symbol
            })
                .then((res) => {
                    let json = res.data;
                    this.$router.push({
                        name: 'Ok',
                        query: {
                            name: this.app['name'],
                            back: this.$route.query.back,
                            method: json['callback']['method'],
                            url: json['callback']['url'],
                            token: json['token']['token']
                        }
                    })
                });
        },
        updateUserInfo(){
            this.username = this.$store.state.username;
            this.$store.dispatch("updateUserInfo")
                .then(() => {
                    this.avatar = this.$store.state.avatar;
                })
        }
    }
}
</script>

<style>

.center2 {
    margin: 0 auto;
    position: relative;
    top: 50%;
}

.pgbar {
    margin: 16px;
}

.right {  
        text-align: right; 
}

.fullw {
    width: 100%;
}

.italic-font {
    font-style: italic;
}

.md-progress-spinner {
    margin: 16px;
  }
</style>
