<template>
  <div id="app" class="center background">
      <md-card class="md-alignment-center-center login-card">
        <router-view/>
      </md-card>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #eceff1;
}

.login-card {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.center {
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
}

@media screen and (max-width: 425px) {
  .login-card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px){
  .login-card {
    width: 70%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px){
  .login-card {
    width: 30%;
  }
}
@media screen and (max-width: 2560px) and (min-width: 1440px){
  .login-card {
    width: 20%;
  }
}
</style>
